Using Tailwind CSS
If you use Tailwind CSS in your Laravel project, your styles won't work. That's because we need Post CSS for Tailwind CSS.

Create a postcss.config.js file, if you haven't already, and define two plugins there:

module.exports = {
    plugins: {
        tailwindcss: {},
        autoprefixer: {},
    },
};
You also need to have those packages installed, but if you already use Tailwind CSS, you should have them already.

Vite will look for the PostCSS configuration and automatically apply it if given. That's already it. Your Tailwind CSS styles should now work too.