/* 
    Jstest.css  CSS3generator.com
    <!--[if lt IE 9]-->
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    </script>
    <!--[if lt IE 9]-->

     colorzilla.com/gradienr-editor/
    */
.JStest {
  
  *
  {  
    margin-left: auto;
    margin-right: auto;
    border: 1px  rgb(92, 67, 67); 
    border-radius: 20px; 
    background: rgba(239, 239, 239, 0.944);
    text-align: center;
    font-weight: 100;
    padding: 5px;
  }
    box-shadow: 122px 0 103px 0 rgba(243, 243, 243, 0.1) ;
   h1
   {
    font-size: larger;
   }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        /* width: 40%; */
      }
      form{
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
@font-face {
    font-family: pryfont;
    src: url(../fonts/jmacscrl.eot);
}

/* {
    font-family: "pryfont";
    src: url('fonts/jmacscrl.eot'),url('../fonts/jmacscrl.ttf') format('ttf'); 
    src: url('fonts/jmacscrl.eot') format('eot'); 
} */

.top-Squre {
    height: 100px;
    width: auto;
    background-color: #31077a;
   
    -webkit-box-shadow: 0px 0px 10px 20px rgba(255, 255, 255, 0.922) inset;
    box-shadow: 0px 0px 10px 20px rgba(243, 243, 243, 0.1) inset;

    border-radius: 15px;
    /*box-shadow: 0px 0px 20px 20px white inset; */

}

.bottom-Squre {
    /* position:absolute;   */
    height: 50px;
    width: auto;
    background-color: rgba(172, 29, 29, 0.6);
    background: -moz-linear-gradient(top, #1c9d6e, rgb(255, 255, 255, .1), #1c9d6e);
    background: -webkit-linear-gradient(circle, #1c9d6e, rgb(255, 255, 255, .1), #1c9d6e);
    
    background: -o-radial-gradient(circle, #1c9d6e, rgb(255, 255, 255, .1), #1c9d6e);
    background: -ms-radial-gradient(circle, #1c9d6e, rgb(255, 255, 255, .1), #1c9d6e);
    background: radial-gradient(circle, #1c9d6e, rgb(255, 255, 255, .1), #1c9d6e);
    box-shadow: 0px 0px 100px 20px rgba(243, 243, 243, 0.1) inset;

    /*box-shadow: 0px 0px 20px 20px white inset; */
    top: 0;
    /*  right: 90px; */
    /*  left: 500px; */
    display: block;

    /* border-width: 5px;
    border-style: solid;
    border-color: gray; */
    border-radius: 30px 20px 15px 10px;
    /* border-top-left-radius: 20px;
    border-bottom-right-radius: 5px; */
    /* margin: 10px; */
    /* border:20px solid red;
    border-image: url("ic_lock_airplane_mode_alpha.png") 50 50 50; */
}

.imgescss {
    box-shadow: 5px 5px 10px 1px gray inset;
}

.someH1 {
    text-shadow: 8px 0 2px 3px rgb(12, 41, 38);
    color: rgba(255, 8, 8, 0.6);
}

.contetn2 {
    width: auto;
   
    -moz-column-count: 3;
    -moz-column-gap: 15px;
    column-count: 3;
    column-gap: 15px;
    font-family: pryfont;
}

.contetn2 p {
    font-family: pryfont;
}

#testCanvas {
    border: 1px solid black;
}

#test3Canvas {
    border: 1px solid black;
}

#test2Canvas {
    border: 1px solid black;
}

#test4Canvas {
    border: 1px solid black;
}

#test5Canvas {
    border: 1px solid black;
}

#test6Canvas {
    border: 1px solid black;
}

#test7Canvas {
    border: 1px solid black;
    transition: all 4s;
    background-color: #9677cb;
    animation: rainbowBkgnd 4.6s;
}

/* ----------------------------------------------------------------------- */
@keyframes rainbowBkgnd {
    from {
        background-color: red;
    }

    to {
        background-color: rgb(102, 142, 160);
    }

}

@keyframes rainbowBkgnd {
    0% {
        background-color: rgb(211, 75, 75);
    }

    25% {
        background-color: rgb(163, 163, 60);
    }

    50% {
        background-color: rgb(69, 69, 158);
    }

    100% {
        background-color: rgb(117, 93, 93);
    }

}

.rotated {
    transition: all .6s ease;
}

.rotated:hover {
    transition: all .6s ease;
    background-color: #31077a;
    transform: rotate(300deg);
    transform: scale(1.1);
    transform: translateX(200px);
    transform: translateY(200px);
    transform: skew(30deg);
    transform: skewX(0deg) skewY(0deg) scale(1.1) translateX(0px)rotate(0deg);
    width: 200px;
    height: 200px;
    border-radius: 20px;
    animation: rainbowBkgnd 5.6s;
}

/* @media all {
    .content {
        color: blue;
    }
} */

@media screen and (min-width:500px) {
    .content {
        width: 500px;
        /* float: right; */
    }
}

@media screen and (max-width:500px) {
    .content {
        width: 300px;
        font-size: 18px;

    }
}

}