 body::before{
    display: block;
content: '';
height: 40px;
/* margin-bottom: 5px; */
 }
 .navbar a{
    font-family: "B Homa";
    font-size: larger;
    padding: 5px;
   text-align: center;
   justify-content:center
 }
 .Main_Header {
   
     margin: 20px 20px;
     float: center;
     text-align: center;
     /* *{border: 3px solid rgb(0, 0, 0);} */


     /* *.div{float: right;  } */
     img {
         float: left;
     }

     .col-md-1,
     .col-md-2,
     .col-md-3,
     .col-md-4,
     .col-md-5,
     .col-md-6,
     .col-md-7,
     .col-md-8,
     .col-md-9,
     .col-md-10,
     .col-md-11,
     .col-md-12 {
         /* display:block;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%; */
         /* float: right; */
         /* border: 1px solid rgb(0, 0, 0); */
         float: left
             /* stiktogeder */

     }

     /*---------------------------------------------*/
     /*                  HeaderMenu                 */
     /*---------------------------------------------*/
     .HeaderMenu {
         /*font-family: "B Titr";*/
         color: #000;
         font-size: large;
         font-family: "B Homa";

         /* background-image:
        linear-gradient(235deg, #FFFFFF 0%, #000F25 100%), 
        linear-gradient(180deg, #6100FF 0%, #000000 100%), 
        linear-gradient(235deg, #FFA3AC 0%, #FFA3AC 40%, #00043C calc(40% + 1px), #00043C 60%, #005D6C calc(60% + 1px), #005D6C 70%, #00C9B1 calc(70% + 1px), #00C9B1 100%),
        linear-gradient(125deg, #FFA3AC 0%, #FFA3AC 40%, #00043C calc(40% + 1px), #00043C 60%, #005D6C calc(60% + 1px), #005D6C 70%, #00C9B1 calc(70% + 1px), #00C9B1 100%);
    background-blend-mode: soft-light, screen, darken, normal; */

         /*background-image:*/
         /*    linear-gradient(123deg, #461B93 0%, #461B93 40%, #6A3CBC calc(40% + 1px), #6A3CBC 60%, #8253D7 calc(60% + 1px), #8253D7 70%, #F78F1E calc(70% + 1px), #F78F1E 100%)*/
         box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
         border-radius: 20px;

     }

     .BoxUp {
         background-image: linear-gradient(269deg, #416996 0%, #d43f3a 100%);
         background-image: linear-gradient(269deg, #416996 0%, #d43f3a 100%);
         border: 1px rgb(92, 67, 67);
         border-radius: 20px;
         font-family: "B Homa";
     }
     .BoxUp a{
        font-family: "B Homa";
     }
     .BoxUp .bran_bt {
         font-size: 232px;
         color: #eee;
         font-family: "B Homa";
         text-decoration: none;
     }

     .BoxUp .bran_bt:hover{
         -webkit-transform: scale(1.2);
         -ms-transform: scale(1.2);
         transform: scale(1.2);
         transition: 0.3s ease;
         color: #ffffff;
        
     }

     /* .BoxUp .navbar1 ul li {
         display: inline-block;
         margin-top: 10px;
         margin-bottom: 20px;
         padding: auto;

     }

     .BoxUp .navbar1 ul li a {
         color: #ffffff;
         font-size: large;
         text-align: justify;
         margin: 10px 5px 5px 5px;
         font-family: "B Homa";
         text-decoration: none;

     }

     .BoxUp .navbar1 ul li a:hover {
         color: black;
         border-radius: 20px;
         transition: 1s ease;
     } */
     .BoxUp .site-Brand-Logo
     { filter: contrast(1.05);
        scale: 100%;
        margin-top: 0px;
        image-rendering: high-quality;
        /* -webkit-transition: all 1s ease; */
        float: left;
        transition: 1s ease;
        position: absolute;
         top: 80px;
         left: 30px;
         width: auto;
         height: 100px;
         float: right;
       
     }
      
     .BoxUp .site-Brand-Logo:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        transition: 1s ease;
    }

     .Information i,
     a {
         color: #eee;
         padding: auto;
         text-align: justify;
         margin-bottom: 10px;
         align-content: center;
     }

     .Information i:hover,
     a:hover {
         color: black;

     }

     .Authentication {
         /* background-image: linear-gradient(269deg, #416996 0%, #d43f3a 100%);
         background-image: linear-gradient(269deg, #416996 0%, #d43f3a 100%); */
         border: 1px rgb(201, 25, 25);
         border-radius: 20px;
    
      
         /* border: 3px solid #73AD21; */

     }
     .Authentication li {
       display: inline-block;
      
    }
     .Authentication a {
         color: rgb(245, 244, 242);
         font-family: "B Homa";
         font-weight: 200;
         font-size: larger;
         text-decoration: none;
     }

     .Authentication a:hover {
         color: burlywood;
     }
 
     /*---------------------------------------------*/
     /*                  HeaderMenu                 */
     /*---------------------------------------------*/
     .Search_box {
         margin-bottom: 10px;
         display: block;


         * {
             direction: rtl;
         }
     }

     .Search_box form {
         position: relative;
         display: block;
         margin-left: auto;
         margin-right: auto;
         width: 40%;
     }

     .Search_box form input {
         width: 100%;
         height: 40px;
         border: 1px solid #eee;
         border-radius: 20px;
         padding-right: 8px;
         font-family: "B Homa";
         font-weight: 500;
         font-size: larger;
         text-align: center;
     }

     .Search_box form button {
         width: 40px;
         height: 40px;
         background-color: #000;
         background-image: linear-gradient(222deg, #00d9a6 0%, #9be15d 100%);
         text-align: center;
         color: #fff;
         position: absolute;
         top: 0;
         left: -1px;
         border-radius: 50%;

     }


     /*---------------------------------------------*/
     /*                  main-menu items            */
     /*---------------------------------------------*/
     .main-menu {
         height: auto;
         margin: auto;
         text-decoration: none;
         z-index: 20;
         /*box-shadow: 5px 3px 35px 5px rgba(0,0,0,0.14);*/
         margin-top: 10px;
         box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
         background-image: linear-gradient(269deg, #00d9d6 0%, #9be1dd 100%);
         background-image: linear-gradient(269deg, #419641 0%, #d43f3a 100%);
         border: 1px rgb(92, 67, 67);
         border-radius: 20px;
     }

     .main-menu .menu-item ul li {
         display: inline-block;
         margin: auto;
         padding: auto;
     }

     .main-menu .menu-item ul li a {
         display: inline-block;
         color: #fefefe;
         animation: wave 2000ms ease alternate infinite;
         margin: 5px 5px 5px 5px;
         padding: 5px 5px 5px 5px;
         font-size: 18px;
         font-family: "B Homa";
         background-color: initial;
         transition: all 0.3s ease;
         /*12aaea*/
         transition: all 0.3s ease;
         box-shadow: 1px 3px 35px 1px rgba(0, 0, 0, 0.14);
         transition: 1s ease;
         text-decoration: none;
         border-radius: 8px;
     }

     .main-menu .menu-item ul li a:hover {
         color: #fe0000;
         -webkit-transform: scale(1.2);
         -ms-transform: scale(1.2);
         transform: scale(1.2);
         transition: 1s ease;
     }
 }