

/*////////////////////////////////////////////////////*/
/*          SINGLE.HTML                               */
/*////////////////////////////////////////////////////*/
.page-banner{
    height: 128px;
    background: linear-gradient(269deg, #00d9a6 0%,#9be15d 100%);
    background-color: #eee;
    text-align: center;
    font-size: 18px;
    color: #666;
    padding-top: 45px;

}

.page-content{
    display: inline-block;
    width: 100%;
    margin: 30px 0;
    padding: 15px 0;
    background-color: #fff;
    border-radius: 20px;

}
.single_content img{

    display: table;
    margin: 15px auto;
    border-radius: 20x;

}

.single_content .meta{
    font-size: 12px;
    color: #777;
    padding: 15px;
    text-align: center;

}

.single_content .meta span{
    margin-left: 15px;
}

.single_content .meta span a{
    color: #333;

}
.single_content h1{
    text-align: center;
    line-height: 2;
    color: #515151;
    font-size: 18px !important;
    margin-top: 0;
    margin-bottom: 0;
}
.single_content p_text p{
    line-height: 2;
    font-size: 15px;
    color: #777;
    margin: 15px 0;
}

.single_content .post_tags{
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #949494b7;
    border-radius: 20px;

}


.side_bx{
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 20px;
    border: 1px solid #eee;
}

.side_bx span.title{
    display: block;

    padding: 10px 0;
    margin-bottom: 10px;
    position: relative;
    color: #777;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.side_bx ul li{
    line-height: 2;

}

.side_bx ul li a{
    display: block;
    padding: 8px;
    padding-right: 15px;
    color: #6e6e6e;
    border-bottom: 1px dashed #bcbcbc;
    position: relative;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.3s ease;
}
.side_bx ul li a:hover{
    color: #000000;
    transition: all 0.3s ease;
}
.side_bx ul li:last-child{
    border-bottom: 0 #ffffff;
}
.side_bx ul li a::before{
    content: "\f016";
    font-family: FontAwesome;
    position: absolute;
    right: 0;
    bottom: 10px;
    font-size: 12px;
}
.Search_box2{
    margin-bottom: 30px;

}
.Search_box2 form{
    width: 100%;
    position: relative;

}
.Search_box2 form input{
    width: 100%;
    height: 40px;
    border: 1px solid #eee;
    border-radius: 20px;
    padding-right: 8px;


}
.Search_box2 form button{
    width:  40px;
    height: 40px;
    background-color: #000;
    background-image: linear-gradient(269deg, #00d9a6 0%,#9be15d 100%);
    text-align: center;
    color: #fff;
    position: absolute;
    top: 0;
    left: -1px;
    border-radius: 50% ;

}

/*////////////////////////////////////////////////////*/
