

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
 

/* *:hover{
    cursor:move;
    cursor:pointer;
    cursor: cell;
} */

@font-face {
        /*font-family: 'seo9' ;*/
        /*src: url('../fonts/Vazir-Bold.woff')  format('woff');*/
        font-family: "IRANSans-web";
        src: url('../fonts/IRANSans-web.woff')  format('woff');
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
body{

    background-color: #fbfbfb;
    direction: rtl;
    margin-bottom: 1px;
    /* background-image:
        radial-gradient(ellipse farthest-side at 76% 77%, rgba(245, 228, 212, 0.25) 4%, rgba(255, 255, 255, 0) calc(4% + 1px)), radial-gradient(circle at 76% 40%, #fef6ec 4%, rgba(255, 255, 255, 0) 4.18%), linear-gradient(135deg, #ff0000 0%, #000036 100%), radial-gradient(ellipse at 28% 0%, #ffcfac 0%, rgba(98, 149, 144, 0.5) 100%), linear-gradient(180deg, #cd6e8a 0%, #f5eab0 69%, #d6c8a2 70%, #a2758d 100%); background-blend-mode: normal, normal, screen, overlay, normal;

    background-image:
        linear-gradient(125deg, #ECFCFF 0%, #ECFCFF 40%, #B2FCFF calc(40% + 1px), #B2FCFF 60%, #5EDFFF calc(60% + 1px), #5EDFFF 72%, #3E64FF calc(72% + 1px), #3E64FF 100%); */

}
p {
    font-family: "B Homa";
    font-size: medium;
    text-align: justify;
}
h1{
    font-family: "B Homa";
    font-size: large;
}

 
a:hover{
       text-decoration: none;
}
a.site-btn{
    display: inline-block;
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
    font-size: 22px;
    /*background-image: linear-gradient(269deg, #00d9a6 0%,#9be15d 100%);*/
    /* background-image: linear-gradient(270deg,#009da6 0%,#ffdf0c 100%) */
    background-color: #12aaea;
    color: #eeeeee;
    transition: all 0.3s ease;

}
a.site-btn:hover{
    opacity: 0.8;
    transition: all 0.3s ease; text-decoration: none;
}
img{
        max-width: 100%;
}
.tags{
    font-family: "B Homa";
    background-color: rgba(0, 111, 255, 0.76);
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding: 2px 4px;
    font-size: 12px;
    margin-left: 5px;
    border-radius: 4px;
}

.navbar_top{
    font-family: "B Titr";
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
/*---------------------------------------------*/
/*                  slider                     */
/*---------------------------------------------*/
.slider-box{
 
background-image: url('../img/aa.jpg');
background-size: cover;
background-position: center center;
background-color: #ff0000;
margin-bottom: 50px;
margin-top: 50px;


}

.slider-box h1{
        margin: 20px 5px;
        padding: 8px 15px;

        color: #515151;
        border-radius: 20px;
        border-color: #eee;
        border-width: 1px;
}

.slider-box p{
        line-height: 2;
        padding: 8px 15px;

        color: #212121;
        border-radius: 20px;
        border-color: #eee;
        border-width: 1px;
        font-size: 40px !important;

}
.slider-box a{
        display: inline-block;
        padding: 8px 18px 8px 18px;
        background-color: transparent;
        color: #ff0000;
        font-size: 30px;
        border-radius: 20px;
        /* border: 3px dashed #12aaea; */
        transition: all 0.3s ease;
}
.slider-box a:hover{
        background-color: #12aaea;
        transition: all 0.3s ease;
}
.slider-box a i{
        position: relative;
        top:1px;
        font-size: 11px
}
.photo-next{
    margin-right: 50%;
}
/*---------------------------------------------*/
/*                  Services                   */
/*---------------------------------------------*/
.services{
        margin-top: 50px;
        margin-bottom: 50px;
    box-shadow: 5px 3px 35px 5px rgba(0,0,0,0.14);
    padding: 15px;
    margin-top: 15px;
    border-radius: 15px;
   
    text-align: center;
    /* *.div{float: right;  } */
}
 
.services .desc h4{
        color: #12aaea;
    /*font-family: "B Homa";*/
}
.services a{
    background-color: #12aaea;
}
.services a:hover{
    background-color: #FFFFFF;
}
 
.services .desc span{

      display: block;
      margin: 15px 1px;
      color: #515151;
      font-size: 13px;

}

.services .desc p{
        line-height: 2;
        text-align: justify;
        color: #666;
    /*font-family: "B Homa";*/
}
.services .col-md-6{
/* display:block;
-ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; */
    float: right;
}
.services .item{
padding: 30px 20px;
background-color: #fff;
border-radius: 20px;
border: 1px solid #fbfbfb;
transition: all 0.3s ease;
box-shadow: 1px 3px 35px 1px rgba(0,0,0,0.14);
 margin: 5px;
 
}
.services .item:hover{
    background-image: linear-gradient(269deg, #00d9a6 0%,#9be15d 100%);
    transition: all 0.3s ease;

}
.services .item i {
font-size: 30px;
color: #12aaea;
transition: all 0.3s ease;

}

.services .item span {
        display : block;
        color : #111;
        font-size :18px;
        margin: 30px 0;
    font-family: "B Homa";
    /*font-family: "IRANSans-web";*/
        }

.services .item p {
     line-height: 1.9;
     font-size :13px;
     color : #515515;
    /*font-family: "B Homa";*/
}
.services .item:hover i{
        color: #fbfbfb;
        transition: all 0.3s ease;
}
/*---------------------------------------------*/
/*                  Blog                       */
/*---------------------------------------------*/
.index-blog{
    margin-bottom: 50px;

}

.index-blog .row{
    box-shadow: 5px 3px 35px 5px rgba(0,0,0,0.14);
    padding: 15px;
    margin-top: 15px;
    border-radius: 15px;
}
.index-blog .desc{
 line-height: 2;

}
.index-blog .h4{
      margin-bottom: 15px;

      font-size: large !important;

}

.index-blog .desc .meta{
padding: 15px;
border-top: 1px solid #eee;
font-size: 12px;
}

.index-blog .desc .meta span{
 margin-left: 15px;
}
.index-blog .desc .meta span i{
        font-size: 20px;
        padding: 10px;
}
.index-blog .desc p{
color:#515151;
font-size: 13px;
line-height: 2;
margin: 20px;
text-align: justify;
}
.index-blog .desc a i{
font-size: 12px;
position: relative;
right: 3px;
}
.index-blog .row{
        margin-bottom: 60px;
}
.index-blog .pic img
{ border-radius: 20px;
  height: 300px;
  width: 300px;
  display: table;
  box-shadow: 1px 3px 35px 1px rgba(0,0,0,0.14);

}
.site_boxes_content{

margin-bottom: 50px;

}
.site_boxes_content .box{
        display: inline-block;
        width: 100%;
        background-color: #fff;
        border-radius: 20px;
        padding: 20px 20px 0;
}
.site_boxes_content .box:hover {
    background-color: #fff200;
    transition-delay: 0.3s;
}
.site_boxes_content span.title{
 display: block;
 margin-bottom: 15px;
 color: #222;
 padding: 10px;
 border-bottom: 1px solid #eee;

}
.site_boxes_content .box .pic img{
 display: table;
 margin: 0 auto;
 height: 110px;
 object-fit: cover;
    border-radius: 20px;
}
.site_boxes_content .box .desc h5{
width: 100%;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.site_boxes_content .box .desc p{
       margin: 15px;
       font-size: 13px;
       text-align: justify;
       color: #777;
       line-height: 2;
       overflow: hidden;
        }
.site_boxes_content .box .desc span{
        font-size: 12px;
        color: #999;
}
.site_boxes_content .box .desc span i{
        padding: 10px 10px 10px 10px;
        font-size: 12px;
        color: #999;
}

.site_boxes_content .box .post-item-bx
{
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  display: inline-block;
  width: 100%;
}
.site_boxes_content .box .post-item-bx:last-of-type
{
        border-bottom: none;
}

.about_bx {
    box-shadow: 5px 3px 35px 5px rgba(0, 0, 0, 0.14);
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    
    text-align: center;
}
